.env
venv
apps/corecode/migrations
apps/docs/migrations
apps/employees/migrations
apps/finances/migrations
apps/billing/migrations
ap1/
**/__pycache__/



.idea
.vscode
node_modules
dist
db.sqlite3
media
requirements.txt
./docker/prod/docker-compose.yml